.footer {
  position: relative;
  background-color: var(--color-text-primary);
  color: var(--color-text-inverse);
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-xl);
  overflow: hidden;
}

/* ===============================
   TOP
   =============================== */

.footer__top {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  gap: var(--space-2xl);
}

.footer__brand {
  max-width: 320px;
}

.footer__logo {
  margin-bottom: var(--space-sm);
}

.footer__description {
  font-size: var(--font-size-sm);
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.7;
}

/* ===============================
   LINKS
   =============================== */

.footer__linksWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl);
}

.footer__linksColumn {
  display: flex;
  flex-direction: column;
}

.footer__heading {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--space-md);
}

.footer__list li {
  margin-bottom: var(--space-sm);
}

.footer__list a {
  font-size: var(--font-size-sm);
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease;
}

.footer__list a:hover {
  color: var(--color-text-inverse);
}

/* ===============================
   DIVIDER
   =============================== */

.footer__divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: var(--space-2xl) 0 var(--space-lg);
}

/* ===============================
   BOTTOM
   =============================== */

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-sm);
  color: var(--color-bg-primary);
}
.footer__copyright {
  color: var(--color-bg-primary);
}
.footer__bottomLinks {
  display: flex;
  gap: var(--space-xs);
}

.footer__bottomLinks a {
  color: var(--color-bg-primary);
}

.footer__bottomLinks a:hover {
  color: var(--color-text-inverse);
}

.getintouch_heading {
  color: var(--color-bg-primary);
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-sm);
  font-weight: var(--font-weight-medium);
}
.getintouch_values {
  font-size: var(--font-size-lg);
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease;
  margin-bottom: var(--space-sm);
  display: flex;
  align-items: center;
  gap: var(--space-md);
}
.getintouch_valuesIcon {
  min-width: 34px;
  max-width: 34px;
  height: 34px;
}
@media (max-width: 1024px) {
  .footer__top {
    grid-template-columns: 1fr;
  }

  .footer__linksWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .footer__linksWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__bottom {
    flex-direction: column;
    gap: var(--space-sm);
    text-align: center;
  }

  .footer__backgroundText {
    font-size: clamp(3rem, 12vw, 5rem);
  }
}
