.packagePrice_wrapper {
  color: var(--color-success);
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.packagePrice_perPerson {
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
  font-weight: 300;
}
.packagePrice_includes {
  font-size: var(--font-size-xs);
  line-height: 140%;
  color: var(--color-text-secondary);
  font-weight: 300;
  display: block;
}
.packagePrice_tnc {
  font-size: 9px;
  line-height: var(--font-size-xs);
  color: var(--color-error);
  font-weight: 300;
  display: block;
}
