.sectionTitle {
  max-width: 720px;
  margin: 0 auto 3rem;
  text-align: center;
}
.sectionTitle__headingWrapper {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.sectionTitle__heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary);
  grid-area: 1 / 1;
  z-index: 2;
}
.sectionTitle__bgText {
  font-size: 7rem;
  line-height: 1;
  letter-spacing: -5px;
  font-weight: 900;
  opacity: 0.8;
  text-transform: uppercase;
  color: var(--color-bg-muted);
  grid-area: 1 / 1;
  z-index: 1;
}

.sectionTitle__subheading {
  font-size: 1rem;
  color: var(--text-primary);
  line-height: 1.6;
}
