.sectionTitle {
  max-width: 720px;
  margin: 0 auto 2rem;
  text-align: center;
}
.sectionTitle__headingWrapper {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.sectionTitle__heading {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
  grid-area: 1 / 1;
  z-index: 2;
}
.sectionTitle__bgText {
  font-size: var(--font-size-hero);
  line-height: 1;
  letter-spacing: -5px;
  font-weight: var(--font-weight-extrabold);
  opacity: 0.8;
  text-transform: uppercase;
  color: var(--color-bg-muted);
  grid-area: 1 / 1;
  z-index: 1;
}

.sectionTitle__subheading {
  font-size: var(--font-size-lg);
  color: var(--text-primary);
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .sectionTitle__bgText {
    font-size: 3.5rem;
  }
  .sectionTitle__heading {
    font-size: var(--font-size-xl);
  }
  .sectionTitle__subheading {
    font-size: var(--font-size-sm);
  }
}
