.about_us__section {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}
.aboutus_heading {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-xs);
  font-weight: var(--font-weight-medium);
}
.aboutus_content {
  font-size: var(--font-size-md);
  margin-bottom: var(--space-xs);
}

@media screen and (max-width: 767px) {
  .aboutus_heading {
    font-size: var(--font-size-lg);
  }
}
