.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  background-color: var(--color-bg-secondary);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-bg-primary);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--color-text-primary);
}

.intro p {
  max-width: 440px;
  font-size: var(--font-size-lg);
  line-height: 32px;
  text-wrap: balance;
  color: var(--color-text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--color-text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: var(--font-size-sm);
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--color-text-primary);
  color: var(--color-bg-primary);
  gap: 8px;
}

a.secondary {
  border-color: var(--color-border-secondary);
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--color-text-secondary);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--color-bg-muted);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: var(--font-size-xl);
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
