.search {
  background: #fff;
  border-radius: 50px;
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  gap: 15px;
  align-items: center;

  color: #333;
}

/* Responsive */
@media (max-width: 900px) {
  .search {
    grid-template-columns: 1fr;
    border-radius: 20px;
  }
}
