.search {
  background: var(--color-bg-primary);
  border-radius: 50px;
  padding: var(--space-sm);

  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  gap: var(--space-sm);
  align-items: center;

  color: var(--color-text-primary);
}

@media (max-width: 900px) {
  .search {
    grid-template-columns: 1fr;
    border-radius: 20px;
  }
}
