.package-layout {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--space-2xl) var(--space-md);
}

.package-layout__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-2xl);
}
.package_overviewPrice__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.package_price__wrapper {
  border: 2px dashed var(--color-success);
  border-radius: 4px;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-text-inverse);
}

@media (max-width: 1024px) {
  .package-layout__grid {
    grid-template-columns: 1fr;
  }
}
