.package_hero {
  margin: var(--space-sm) auto var(--space-xs);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-sm);
}

.package_hero__title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
}
.package_price__wrapper {
}
.package_price__card {
  background-color: var(--color-success);
  color: var(--color-bg-primary);
  border: 1px solid var(--color-brand-secondary);
  padding: var(--space-2xs) var(--space-lg);
  border-radius: 20px;
  font-weight: 600;
  font-size: var(--font-size-lg);
  letter-spacing: 2px;
  margin-left: var(--space-sm);
}
.package_hero__tags {
  display: flex;
  gap: var(--space-sm);
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}

.package_hero__tag {
  padding: var(--space-2xs) var(--space-sm);
  border-radius: 20px;
  font-size: var(--font-size-sm);
  line-height: var(--space-lg);
  font-weight: var(--font-weight-medium);
}

.package_hero__tag__destination {
  background: var(--color-bg-secondary);
  color: var(--color-brand-secondary);
  border: 1px solid var(--color-brand-secondary);
}

.package_hero__tag__duration {
  background: var(--color-bg-secondary);
  color: var(--color-success);
  border: 1px solid var(--color-success);
}

.package_hero__tag__popular {
  background: var(--color-bg-secondary);
  color: var(--color-error);
  border: 1px solid var(--color-error);
}

@media screen and (max-width: 768px) {
  .package_hero__title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
  }
  .package_hero {
    margin: var(--space-lg) auto var(--space-xs);
    flex-direction: column;
    align-items: flex-start;
  }
  .package_hero__tags {
    flex: 1;
  }
  .package_price__wrapper {
    flex: 1;
  }
}
